/* ===========
    Variables
============== */
:root {
  /* Fonts */
--font: 'Times';
/* Colors */
--light-blue: #ADD8E6;
}
/* ===========
    General
============== */
body {
  font-family: ;
  font-size: ;
  color: ;
  background: #ADD8E6;
}
.topbar-row h1 {
  text-align: center;
}
.topbar-row h2 {
  text-align: center;
}
.topbar-row button {
  justify-content: center;
}
/* ===========
    Header
============== */
header {
}
