/* ===========
  Variables
============== */
:root {
/* Fonts */
--font: 'Times';
/* Colors */
--light-blue: #ADD8E6;
}
/* ===========
  General
============== */
body {
  font-family: ;
  font-size: ;
  color: ;
  background: #ADD8E6;
}
.container {
  text-align: justify;
}
.container h1 {
  text-align: center;
}
.info{
text-align: center;
}

/* ===========
  Side Bar
============== */
.side-nav h3 {
  font-family: Verdana;
}
.side-nav ul {
  list-style: none;
  font-family: Verdana;
}
/* ===========
  Header
============== */
header {
  font-family: ;
}
/* ===========
  Footer
============== */
footer {

}
.socials {

}
