/* ===========
  General
============== */
body {
  font-family: Verdana;
  background: #F5FFFA;
}
.container {
  text-align: justify;
}
.container h1 {
  text-align: center;
}
.info{
  text-align: center;
  font-size: 13px;
}
.grid, h2{
text-align: center;
}
.grid a {
  color: black;
  text-decoration: none;
  float: left;
  justify-content: space-between;
  width: 40%;
}
/* ===========
  Header
============== */
header {
  font-family: Verdana;
}
header a {
  color: black;
  text-decoration: none;
}
/* ===========
  Side Bar
============== */
.side-nav {
  font-family: Verdana;
}
.side-nav a {
  color: black;
  text-decoration: none;
}
/* ===========
  Footer
============== */
footer {
text-align: center;
}
